

body {
    height: fit-content;
    width: 100vw;
    /* overflow-y: auto; */
    overflow-x: hidden;
    background-color: #121D31;
}

body.hidden {
    opacity: 0;
}


section.section1 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url(/assets/background6.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.section1>div {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.3);
    flex-direction: column;
}

section.section1 div.main-title-bar {
    width: 100vw;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-family: "JetBrains Mono";
    font-weight: 700;
}

section.section1 div.main-title-button {
    margin-top: 20px;
    /* border: 1px solid #fff; */
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

section.section1 div.main-title-button a {
    color: #fff;
    width: 120px;
    height: 100%;
    display: block;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #00000069;
    margin-left: 10px;
}

a.main-button1:hover {
    background-color: #6b1b7f !important;
}

a.main-button1:hover svg {
    transform: translateX(4px) !important;
}


div.main-title-button a.go-to-download {
    width: 80px !important;
    background-color: #00000038 !important;
    transition: all .1s ease;
}

div.main-title-button a.go-to-download:hover {
    background-color: #8787873c !important;
}

section.section2 {
    width: 100vw;
    height: 1270px;
    display: flex;
    justify-content: center;
}

.section2>div {
    color: #fff;
    /* height: 100%; */
    width: fit-content;
    margin-top: 30px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.section2 .title {
    font-size: 46px;
    font-family: "JetBrains Mono";
    padding-left: 50px;
    /* border: 1px solid #ff0; */
}

.section2 .content {
    width: 1280px;
    height: 723px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50% 50%;
    margin: 60px auto 0 auto;
}

.section2 .content .icon {
    font-family: fa-pro;
    font-weight: 500;
    font-size: 81px;
    width: 100px;
    height: 112px;
    margin-left: 65px;
    font-style: normal !important;
}

.section2 .content .icon i {
    font-style: normal;
}

.section2 .content>div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.section2 .content>div .title {
    font-size: 26px;
    padding: 0px 0 0 58px;
}

.section2 .content>div .desc {
    width: 100%;
    height: fit-content;
    padding: 20px 60px 0 60px;
    font-size: 20px;
}

.highlight {
    font-weight: 700;
    color: #fff;
}

footer {
    height: 80px;
    width: 100vw;
    background-color: #313131;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a:-webkit-any-link,
footer {
    color: #fff !important;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 1230px) {
    section.section2 {
        height: 1470px;
    }

    .section2 .content {
        width: 960px;
        height: 880px;
    }
}


@media (max-width: 920px) {
    section.section2 {
        height: 1310px;
    }

    .section2 .content {
        width: 870px;
        height: 750px;
    }

    .section2 .content>div .desc {
        padding: 14px 20px 0 20px;
    }

    .section2 .content>div .title {
        padding-left: 19px;
    }
}

@media (max-width: 850px) {
    section.section2 {
        height: 1310px;
    }

    .section2 .content {
        width: 739px;
        height: 750px;
    }

    .section2 .content>div .desc {
        padding: 14px 30px 0 31px;
        font-size: 18px;
    }

    .section2 .content>div .title {
        padding-left: 29px;
        font-size: 20px;
    }

    .section2 .content .icon {
        width: 80px;
        height: 80px;
        font-size: 60px;
    }
}

@media (max-width: 720px) {
    .section2 .content {
        grid-template-columns: 100%;
        grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    }

    section.section2 {
        height: 1840px;
    }

    .section2 .content {
        width: 80vw;
        height: 1733px;
    }

    .section2 .content>div .desc {
        padding: 0;
        font-size: 18px;
        margin-top: 15px;
    }

    .section2 .content>div .title {
        padding-left: 0;
        font-size: 20px;
    }

    .section2 .content .icon {
        width: 80px;
        height: 80px;
        font-size: 60px;
        margin: 0;
    }

    .section2>div {
        padding: 0;
    }

    .section2 .title {
        font-size: 40px;
        padding: 0 8vw;
    }
}

@media (max-width: 500px) {
    .section2 .content>div .desc {
        font-size: 15px;
    }

    .section2 .content>div {
        display: flex;
        align-items: center;
    }

    .section2 .title {
        font-size: 30px;
    }
}

@media (max-width: 1240px) {
    section.section1>div {
        transform: scale(1.1);
    }
}

@media (max-width: 450px) {
    section.section1>div {
        transform: scale(0.9);
    }
}

