<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A Powerful Minecraft Launcher">
  <title>Amethyst Launcher</title>
  <link rel="icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="/assets/global.css">
  <link rel="stylesheet" href="/assets/navbar.css">
  <script src="/assets/jquery.js"></script>
  <meta name="color-scheme" content="dark">
</head>

<body>
  <header>
    <div>
      <a href="/" class="logo">Amethyst Launcher</a>
      <div>
        <div class="nav">
          <a href="/guide">指南</a>
          <a href="/guide/api">API</a>
          <a href="/download">下载</a>
          <div class="env">生态系统 <svg style="width: 21px;fill: #ffffff9c;margin-left: 2px;"
              xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 24 24"
              class="vt-flyout-button-text-icon">
              <path
                d="M12,16c-0.3,0-0.5-0.1-0.7-0.3l-6-6c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l5.3,5.3l5.3-5.3c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-6,6C12.5,15.9,12.3,16,12,16z">
              </path>
            </svg>
            <div class="menu">
              <div class="group" style="border-top: none;">
                <p>资源</p>
                <a href="/market">市场</a>
                <a href="/market?type=theme">主题</a>
              </div>
              <div class="group">
                <p>官方库</p>
                <a href="/market">Amethyst Launcher Core <svg style="opacity: 0.5; transform: scale(0.6);"
                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="24px"
                    viewBox="0 0 24 24" width="24px" class="vt-link-icon">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z" fill="#ffffff"></path>
                  </svg></a>
                <a href="/market">Plugin API <svg style="opacity: 0.5; transform: scale(0.6);"
                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="24px"
                    viewBox="0 0 24 24" width="24px" class="vt-link-icon">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z" fill="#ffffff"></path>
                  </svg></a>
              </div>
              <div class="group">
                <p>帮助</p>
                <a href="/market">Kook 聊天室 <svg style="opacity: 0.5; transform: scale(0.6);"
                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="24px"
                    viewBox="0 0 24 24" width="24px" class="vt-link-icon">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z" fill="#ffffff"></path>
                  </svg></a>
                <a href="/market">论坛 <svg style="opacity: 0.5; transform: scale(0.6);"
                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="24px"
                    viewBox="0 0 24 24" width="24px" class="vt-link-icon">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z" fill="#ffffff"></path>
                  </svg></a>
              </div>
            </div>
          </div>
          <div class="env">关于 <svg style="width: 21px;fill: #ffffff9c;margin-left: 2px;"
              xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 24 24"
              class="vt-flyout-button-text-icon">
              <path
                d="M12,16c-0.3,0-0.5-0.1-0.7-0.3l-6-6c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l5.3,5.3l5.3-5.3c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-6,6C12.5,15.9,12.3,16,12,16z">
              </path>
            </svg>
            <div class="menu">
              <div class="group" style="border-top: none;">
                <a href="/market">常见问题</a>
                <a href="/market?type=theme">版本发布</a>
                <a href="/market?type=theme">纪录片 <svg style="opacity: 0.5; transform: scale(0.6);"
                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" height="24px"
                    viewBox="0 0 24 24" width="24px" class="vt-link-icon">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z" fill="#ffffff"></path>
                  </svg></a>
              </div>
            </div>
          </div>
          <div class="env"> {{!-- i18n --}}
            <svg style="width: 22px;fill: #ffffff9c;" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
              focusable="false" viewBox="0 0 24 24" class="vt-locales-btn-icon" data-v-2719a954="">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d=" M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z "
                class="css-c4d79v"></path>
            </svg>
            <div class="menu" style="right: 10px;">
              <div class="group" style="border-top: none;">
                <a href="/">English
                  <svg style="opacity: 0.5; transform: scale(0.6);" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" focusable="false" height="24px" viewBox="0 0 24 24" width="24px"
                    class="vt-link-icon">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z" fill="#ffffff"></path>
                  </svg></a>
                <a href="/">简体中文
                  <svg style="opacity: 0.5; transform: scale(0.6);" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" focusable="false" height="24px" viewBox="0 0 24 24" width="24px"
                    class="vt-link-icon">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z" fill="#ffffff"></path>
                  </svg></a>
                <a href="/">Русский
                  <svg style="opacity: 0.5; transform: scale(0.6);" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" focusable="false" height="24px" viewBox="0 0 24 24" width="24px"
                    class="vt-link-icon">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path d="M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z" fill="#ffffff"></path>
                  </svg></a>
              </div>
            </div>
          </div>
          <a href="https://github.com/Broken-Deer/magical-launcher" style="margin-left: 25px;"><svg
              style="width: 23px;height: 100%;" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 496 512">
              <path
                d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" />
            </svg></a>
        </div>
        <div class="nav-mobile"> <span style=""><i class="bars"
              style="font-family: fa-pro; font-style: normal; font-size: 20px"></i></span>
          <div class="menu">
            <div class="group" style="border: none;"> <a href="/guide">指南</a>
              <a href="/guide/api">API</a>
              <a href="/download">下载</a>
            </div>
            <div class="group">
              <a href="/market">市场</a>
              <a href="/market?type=theme">主题</a>
            </div>
            <div class="group">
              <a href="/">MGL Core</a>
              <a href="/">Plugin API</a>
            </div>
            <div class="group">
              <a href="/">Kook 聊天室</a>
              <a href="/">论坛</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="section1">
    <div>
      {{!-- <div class="main-title-bar"><span style="font-weight: 100;">Minecraft Launcher.</span> <br>
        <strong>Redefined.</strong></div> --}}
        {{!-- <div class="main-title-bar">Amethyst - the Leading<br>  Minecraft  Launcher</div> --}}
      <div class="main-title-bar">Amethyst - 领先的 Minecraft 启动器</div>
      <div class="main-title-button">
        <a href="/download"
          style="background-color: #510f61; transition: .1s all ease" class="main-button1">立即下载
          <span style="font-family: fa-pro; margin-left: 5px"><i style="font-style: normal; font-size: 15px;"
              class="download"></i></span></a>
      </div>
    </div>
  </section>
  <section class="section2">
    <div>
      <div class="title">为什么选择 Amethyst Launcher?</div>
      <div class="content">
        <div class="content-item-1">
          <div class="icon"><i class="rocket-launch"></i></div>
          <div class="title"><span class="highlight">高性能</span>与<span class="highlight">兼容性</span></div>
          <div class="desc">使用 Rust 编写的高性能启动器，支持在 Windows, Linux 和 MacOS 平台上运行。Amethyst Launcher
            拥有高并发的游戏安装器，可以极大提升下载速度，让您快速开始游戏！</div>
        </div>
        <div class="content-item-2">
          <div class="icon"><i class="feather"></i></div>
          <div class="title">集成丰富的<span class="highlight">辅助功能</span></div>
          <div class="desc">Amethyst Launcher 拥有大量辅助功能，这些功能可以确保您轻松地管理您的游戏，例如资源包预览、游戏规则修改、投影文件预览等功能，同时无缝地向您介绍 Minecraft
            方面的知识、新版本功能等。</div>
        </div>
        <div class="content-item-3">
          <div class="icon"><i class="car-burst"></i></div>
          <div class="title">高级的<span class="highlight">崩溃分析</span></div>
          <div class="desc">Magical
            Launcher 拥有强大的崩溃分析功能，帮助您了解崩溃的原因，以便您第一时间修复错误。同时，Amethyst Launcher
            能在启动游戏前检测可能导致崩溃的模组，并提供模组自动测试功能，帮助您筛选出引发崩溃的模组
          </div>
        </div>
        <div class="content-item-4">
          <div class="icon"><i class="puzzle-piece-simple"></i></div>
          <div class="title">独一无二的<span class="highlight">插件系统</span></div>
          <div class="desc">Amethyst Launcher 提供了扩展接口以及官方的插件市场，如果你需要更多功能，尝试在插件市场中查找它们吧。扩展在单独的进程中运行，Amethyst Launcher
            会确保它们不会减慢您的启动器得速度</div>
        </div>
        <div class="content-item-4">
          <div class="icon"><i class="browsers"></i></div>
          <div class="title"><span class="highlight">高度自定义</span>的界面</div>
          <div class="desc">Amethyst Launcher 的插件系统不仅可以为启动器添加新功能，还可以设置 UI 各部分的颜色、形状等样式。通过在插件市场中搜索相应的插件，您可以自定义启动器的界面
          </div>
        </div>
        <div class="content-item-4">
          <div class="icon"><i class="bullseye-pointer"></i></div>
          <div class="title"><span class="highlight">开箱及用</span>的体验</div>
          <div class="desc">从第一次发布起就拥有多种辅助功能。各种工具触手可及，无需手动编写插件</div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <p>Copyright © 2022 Amethyst Launcher 保留所有权利</p>
    <p><a style="margin-right: 7px;" href="https://beian.miit.gov.cn/">赣ICP备2022008840号-1</a> <a
        href="https://www.beian.gov.cn/portal/registerSystemInfo">赣公网安备36092202000162号</a></p>
  </footer>
  <script>
    // 获取滚动条位置
    $(window).scroll(function () {
      let scroll = $(window).scrollTop();
      console.log(scroll)
      // 滚动到200时将id为sec2的元素显示出来
      if (scroll >= 300) {
        $("#sec2").removeClass("hidden");
      }
    })
  </script>
</body>

</html>